{% extends 'base.html' %}

{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
 
{% block content %}
  <div class="mb-5">
    <h1>Результаты пользователя {{ user.username }}</h1>
    <h3>Всего пройдено опросов: {{ user.question.count }} </h3>
    {% comment %} <h3>Всего пройдено опросов: {{ author.posts.count }} </h3> {% endcomment %}
    
    {% comment %} {% if user.username != author.username %}
      {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %} {% endcomment %}
  
  </div>


{% endblock %}